/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { UapiMcpCore } from "../core.js";
import { appendForm, normalizeBlob } from "../lib/encodings.js";
import {
  bytesToBlob,
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  PostImageOcrRequest,
  PostImageOcrRequest$zodSchema,
} from "../models/postimageocrop.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * 通用 OCR 文字识别
 *
 * @remarks
 * 无论您是需要实现票据的自动化录入，还是在网页前端对图片上的文字进行坐标框选，这个高精度的 OCR 接口都能为您提供强大的基础能力。
 *
 * ## 功能概述
 * > [!IMPORTANT]
 * > 如果您只关心图片上写了什么（例如截图取字或内容安全审核），强烈建议将 `need_location` 设置为 `false`。这会大幅精简返回的 JSON 数据体积，提升网络传输与系统解析效率。
 *
 * 除了常规的图片转文字，这个接口还针对实际开发场景做了一些实用设计：
 * - **前端文字高亮与结构化分析**：默认返回每一段文字的矩形坐标和四个顶点坐标。这非常适合使用 Canvas 在原图上画框高亮，或者在后端根据相对位置提取票据中的键值对信息。
 * - **复杂拍摄环境下的抗畸变**：针对手机拍摄导致的旋转或倾斜，可以开启 `enable_cls=true`。服务端在识别前会自动进行方向预校正，显著提升识别准确率。
 * - **灵活的输入与请求要求**：接口支持 `file`、`url` 或 `image_base64` 三种方式输入。请确保请求格式为 `multipart/form-data`，且图片链接在公网可直接访问。
 */
export function imagePostImageOcr(
  client$: UapiMcpCore,
  request: PostImageOcrRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: UapiMcpCore,
  request: PostImageOcrRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => PostImageOcrRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = new FormData();
  if ("file" in payload$ && payload$.file !== undefined) {
    if (isBlobLike(payload$.file)) {
      const file = payload$.file;
      const blob = await normalizeBlob(file);
      const name = "name" in file ? (file.name as string) : undefined;
      appendForm(body$, "file", blob, name);
    } else if (isReadableStream(payload$.file.content)) {
      const buffer = await readableStreamToArrayBuffer(payload$.file.content);
      const contentType = getContentTypeFromFileName(payload$.file.fileName)
        || "application/octet-stream";
      appendForm(
        body$,
        "file",
        bytesToBlob(buffer, contentType),
        payload$.file.fileName,
      );
    } else {
      const contentType = getContentTypeFromFileName(payload$.file.fileName)
        || "application/octet-stream";
      appendForm(
        body$,
        "file",
        bytesToBlob(payload$.file.content, contentType),
        payload$.file.fileName,
      );
    }
  }
  if ("url" in payload$ && payload$.url !== undefined) {
    appendForm(body$, "url", payload$.url);
  }
  if ("image_base64" in payload$ && payload$.image_base64 !== undefined) {
    appendForm(body$, "image_base64", payload$.image_base64);
  }
  if ("image_name" in payload$ && payload$.image_name !== undefined) {
    appendForm(body$, "image_name", payload$.image_name);
  }
  if ("need_location" in payload$ && payload$.need_location !== undefined) {
    appendForm(body$, "need_location", payload$.need_location);
  }
  if ("return_markdown" in payload$ && payload$.return_markdown !== undefined) {
    appendForm(body$, "return_markdown", payload$.return_markdown);
  }
  if ("enable_cls" in payload$ && payload$.enable_cls !== undefined) {
    appendForm(body$, "enable_cls", payload$.enable_cls);
  }
  const path$ = pathToFunc("/image/ocr")();

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "post-image-ocr",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
