openapi: 3.0.3
info:
  title: UAPI
  version: 1.0.0
  description: UAPI 官方接口文档
servers:
  - url: https://uapis.cn/api/v1
tags:
  - name: Convert
    description: 提供一系列便捷的数据格式转换工具，帮你处理开发中常见的数据转换任务。
  - name: Daily
    description: 提供每日更新的趣味性或信息性内容，例如新闻、图片等。
  - name: Game
    description: 提供一系列与游戏相关的查询服务，涵盖 Minecraft、Steam 等平台。
  - name: Image
    description: 提供一系列与图片处理和获取相关的功能，从生成二维码到获取壁纸，应有尽有。
  - name: Misc
    description: 一个“百宝箱”，集合了各种实用但不好归类的API，从查天气到查热榜，应有尽有。
  - name: Network
    description: 提供一系列网络诊断和查询工具，帮助你快速定位网络问题或获取网络信息。
  - name: Poem
    description: 提供与诗词、名言相关的API，为你的应用增添一抹人文色彩。
  - name: Random
    description: 提供各种随机内容生成器，从随机字符串到随机图片。
  - name: Social
    description: 提供与主流社交平台（如B站、QQ）相关的用户信息查询服务。
  - name: Status
    description: 提供API自身的状态、监控和使用情况统计。通常需要管理员权限才能访问。
  - name: Text
    description: 提供一系列文本处理工具，包括加解密、哈希计算、内容分析等。
  - name: Translate
    description: 提供文本翻译服务，打破语言的壁垒。
  - name: WebParse
    description: 提供网页内容解析和提取的工具。
  - name: Clipzy 在线剪贴板
    description: |-
      提供 Clipzy 在线剪贴板相关能力，包括加密内容存储、按 ID 获取密文，以及在受控场景下按密钥读取原文。

      这个标签保留接口用途说明，但移除了不适合代码生成器处理的长篇 HTML 和脚本示例。
  - name: 智能搜索
    description: UAPI Pro Search 是一个智能搜索引擎 API，提供高质量的实时网页搜索、AI 智能摘要和自有机器学习回归排序算法。
  - name: 敏感词识别
    description: 提供智能敏感词检测服务，能够从多个维度分析文本的风险等级，并提供详细的分析结果和风险评分。
paths:
  /convert/json:
    post:
      tags:
        - Convert
      summary: JSON 格式化
      description: >-
        还在为一团乱麻的 JSON 字符串头疼吗？这个接口能瞬间让它变得井井有条，赏心悦目。


        ## 功能概述

        你只需要提供一个原始的、可能是压缩过的或者格式混乱的 JSON 字符串，这个 API 就会返回一个经过美化（带标准缩进和换行）的版本。这在调试 API 响应、或者需要在前端界面清晰展示 JSON 数据时非常有用。


        ## 使用须知

        > [!NOTE]

        > **请求格式**

        > 请注意，待格式化的 JSON 字符串需要被包裹在另一个 JSON 对象中，作为 `content` 字段的值提交。具体格式请参考请求体示例。


        ## 错误处理指南

        - **400 Bad Request**: 最常见的原因是你提供的 `content` 字符串本身不是一个有效的 JSON。请仔细检查括号、引号是否正确闭合，或者有没有多余的逗号等语法错误。
      operationId: post-convert-json
      parameters: []
      responses:
        "200":
          description: 格式化成功！返回一个包含美化后JSON字符串的对象。
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: 格式化后的JSON字符串，带有标准缩进和换行。
                    example: |-
                      {
                        "name": "John Doe",
                        "age": 30,
                        "isStudent": false,
                        "courses": [
                          {
                            "title": "History",
                            "credits": 3
                          },
                          {
                            "title": "Math",
                            "credits": 4
                          }
                        ]
                      }
        "400":
          description: 请求失败。这通常意味着你提供的 `content` 字符串不是一个合法的JSON格式。请检查括号、引号是否匹配，以及末尾是否有多余的逗号等常见错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 机器可读的错误代码。
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                    description: 包含错误详情的对象。
                    example:
                      reason: Invalid JSON format in 'content' field
                  message:
                    type: string
                    description: 人类可读的错误描述信息。
                    example: The provided JSON string is invalid.
      requestBody:
        description: 这是一个JSON对象，里面必须包含一个名为 `content` 的字段。这个字段的值，就是你希望格式化的、原始的JSON字符串。
        required: true
        content:
          application/json:
            schema:
              required:
                - content
              type: object
              properties:
                content:
                  type: string
                  description: 需要被格式化的原始JSON字符串。
                  example: '{"name":"John Doe","age":30,"isStudent":false,"courses":[{"title":"History","credits":3},{"title":"Math","credits":4}]}'
      x-search-words:
        - 格式化
        - 美化
        - 校验
        - 验证
        - 压缩
        - 字符串
        - prettify
        - beautify
        - format
        - validate
        - parse
      x-seo-optimized-text: 免费JSON格式化API接口，快速美化和格式化JSON字符串。支持JSON校验、压缩、美化等功能。专业的JSON处理工具，适用于API调试、数据展示、开发调试等场景。
      x-seo-keywords:
        - 免费JSON格式化API
        - JSON美化接口
        - JSON校验API
        - JSON解析服务
        - JSON处理工具
        - JSON prettify
        - 数据格式化API
      x-seo-title: 免费JSON格式化美化API接口 - JSON字符串处理服务
      x-seo-usage-scenarios: 适用于API响应调试、前端数据展示、配置文件美化、JSON数据校验、开发工具集成、代码格式化、数据可视化等场景
      x-seo-related-apis:
        - 文本处理
        - 数据校验
        - 格式转换
        - 开发工具
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /convert/unixtime:
    get:
      tags:
        - Convert
      summary: 时间戳转换
      description: >-
        时间戳和日期字符串，哪个用着更顺手？别纠结了，这个接口让你轻松拥有两种格式！


        ## 功能概述

        这是一个非常智能的转换器。你给它一个 Unix 时间戳，它还你一个人类可读的日期时间；你给它一个日期时间字符串，它还你一个 Unix 时间戳。它会自动识别你输入的是哪种格式。


        ## 使用须知

        这个接口非常智能，能够自动识别输入格式：


        - **输入时间戳**：支持10位秒级（如 `1672531200`）和13位毫秒级（如 `1672531200000`）。

        - **输入日期字符串**：为了确保准确性，推荐使用 `YYYY-MM-DD HH:mm:ss` 标准格式（如 `2023-01-01 08:00:00`）。


        > [!TIP]

        > 无论你输入哪种格式，响应中都会同时包含标准日期字符串和秒级Unix时间戳，方便你按需取用。


        ## 错误处理指南

        - **400 Bad Request**: 如果你提供的 `time` 参数既不是有效的时间戳，也不是我们支持的日期格式，就会收到这个错误。请检查你的输入值。
      operationId: get-convert-unixtime
      parameters:
        - name: time
          in: query
          required: true
          description: 一个智能时间参数，可传入Unix时间戳（10位或13位）或标准日期字符串（如 '2023-10-27 10:30:00'），系统将自动识别并转换。
          schema:
            type: string
            example: "1698380645"
          x-tooltip: 传入时间戳返回日期，传入日期返回时间戳。
      responses:
        "200":
          description: 转换成功！响应中会同时包含标准日期字符串和秒级Unix时间戳，方便你使用。
          content:
            application/json:
              schema:
                type: object
                properties:
                  datetime:
                    type: string
                    description: 标准格式（YYYY-MM-DD HH:mm:ss）的日期时间字符串。
                    example: 2023-10-27 15:04:05
                  timestamp:
                    type: integer
                    description: 转换后的10位秒级Unix时间戳。
                    example: 1698380645
        "400":
          description: 请求失败。请检查你提供的 `time` 参数是否是有效的时间戳或我们支持的日期格式（YYYY-MM-DD HH:mm:ss）。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 机器可读的错误代码。
                    example: INVALID_TIME_FORMAT
                  details:
                    type: object
                    description: 包含错误详情的对象。
                    example:
                      input: 2023/10/27 15:04:05
                  message:
                    type: string
                    description: 人类可读的错误描述信息。
                    example: Invalid time parameter format.
      x-search-words:
        - 时间戳
        - 日期
        - 转换
        - timestamp
        - unixtime
        - datetime
        - date
        - format
        - 时间格式化
        - 毫秒
        - 秒
      x-seo-optimized-text: 免费Unix时间戳转换API接口，支持时间戳与日期字符串双向转换。提供多种日期格式，支持时区转换。专业的时间处理工具，适用于系统开发、数据处理、日志分析等场景。
      x-seo-keywords:
        - 免费时间戳转换API
        - Unix时间戳API
        - 日期转换接口
        - 时间格式化服务
        - 时间戳工具API
        - 日期时间API
        - 时间处理接口
      x-seo-title: 免费Unix时间戳转换API接口 - 日期时间格式化服务
      x-seo-usage-scenarios: 适用于系统日志处理、数据库时间字段、API时间参数、前端时间展示、数据分析、定时任务、事件记录等场景
      x-seo-related-apis:
        - 文本处理
        - 数据格式化
        - 系统工具
        - 开发辅助
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /daily/news-image:
    get:
      tags:
        - Daily
      summary: 每日新闻图
      description: |-
        想用一张图快速了解天下大事？这个接口为你一键生成今日新闻摘要，非常适合用在早报、数字看板或应用首页等场景。

        ## 功能概述
        此接口会实时抓取各大平台的热点新闻，并动态地将它们渲染成一张清晰、美观的摘要图片。你调用接口，直接就能得到一张可以展示的图片。

        ## 使用须知
        调用此接口时，请务必注意以下两点：

        1.  **响应格式是图片**：接口成功时直接返回 `image/jpeg` 格式的二进制数据，而非 JSON。请确保你的客户端能正确处理二进制流，例如直接在 `<img>` 标签中显示，或保存为 `.jpg` 文件。

        2.  **设置合理超时**：由于涉及实时新闻抓取和图片渲染，处理过程可能耗时数秒。建议将客户端请求超时时间设置为至少10秒，以防止因等待过久而失败。

        > [!IMPORTANT]
        > 未能正确处理图片响应或超时设置过短，是导致调用失败的最常见原因。
      operationId: get-daily-news-image
      parameters: []
      responses:
        "200":
          description: 请求成功！响应体是JPEG格式的图片二进制数据。你可以直接将其显示或保存为图片文件。
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "500":
          description: 服务器内部错误。这可能是我们的图片渲染服务遇到了临时故障。我们已经被自动通知，请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 机器可读的错误代码。
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    description: 人类可读的错误描述信息。
                    example: Failed to generate image due to an internal error.
        "502":
          description: 上游服务错误。我们在尝试从新闻源（如微博、知乎等）获取数据时失败了。这可能是因为上游服务暂时不可用或更改了接口。这个问题通常很快会解决，请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 机器可读的错误代码。
                    example: UPSTREAM_ERROR
                  message:
                    type: string
                    description: 人类可读的错误描述信息。
                    example: Failed to fetch news from upstream provider.
      x-search-words:
        - 新闻
        - 早报
        - 日报
        - 摘要
        - 热点
        - 资讯
        - 图片生成
        - news
        - summary
        - image
        - 简报
      x-seo-optimized-text: 免费每日新闻摘要图片生成API接口，自动抓取热点新闻并生成精美的摘要图片。支持实时新闻、热点资讯、日报生成。适用于新闻应用、数字看板、社交分享等场景。
      x-seo-keywords:
        - 免费新闻摘要API
        - 新闻图片生成接口
        - 每日新闻API
        - 热点资讯服务
        - 新闻早报API
        - 图片生成API
        - 新闻摘要工具
      x-seo-title: 免费每日新闻摘要图片生成API - 热点资讯图片服务
      x-seo-usage-scenarios: 适用于新闻应用首页、企业数字看板、社交媒体分享、个人博客配图、微信公众号素材、教育机构资讯展示等场景
      x-seo-related-apis:
        - 图片处理
        - 内容生成
        - 数据抓取
        - 图片合成
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /game/minecraft/historyid:
    get:
      tags:
        - Game
      summary: 查询 MC 曾用名
      description: >-
        想知道某个大佬以前叫什么名字吗？这个接口可以帮你追溯一个 Minecraft 玩家的“黑历史”！


        ## 功能概述

        通过提供玩家的用户名或 UUID，你可以获取到该玩家所有曾用名及其变更时间的列表。这对于识别回归的老玩家或者社区管理非常有用。


        ## 使用须知

        > [!NOTE]

        > **参数说明**

        > - `name` 和 `uuid` 二选一

        > - UUID 支持带连字符（如 `ee9b4ed1-aac1-491e-b761-1471be374b80`）或不带连字符格式


        > [!IMPORTANT]

        > **响应结构差异**

        > - 使用 `uuid` 查询：返回单个用户的历史记录

        > - 使用 `name` 查询：返回所有匹配用户的列表（包括当前用户名或曾用名匹配的玩家），需判断响应中是否有 `results` 字段来区分两种模式
      operationId: get-game-minecraft-historyid
      parameters:
        - name: name
          in: query
          required: false
          description: 玩家的 Minecraft 用户名。使用此参数查询时，会返回所有匹配用户的列表（包括当前用户名或曾用名匹配的玩家）。
          schema:
            type: string
            example: ExamplePlayer
          x-tooltip: 输入用户名，返回所有匹配的玩家列表
        - name: uuid
          in: query
          required: false
          description: 玩家的 Minecraft UUID，支持带连字符或不带连字符格式。
          schema:
            type: string
            example: ee9b4ed1-aac1-491e-b761-1471be374b80
          x-tooltip: "格式示例: ee9b4ed1-aac1-491e-b761-1471be374b80"
      responses:
        "200":
          description: |-
            查询成功！根据查询方式返回不同结构：
            - **uuid 查询**：返回单个用户的历史记录
            - **name 查询**：返回匹配用户列表（判断响应中是否有 `results` 字段来区分）
          content:
            application/json:
              schema:
                type: object
                description: 响应结构根据查询参数不同而变化
                properties:
                  query:
                    type: string
                    description: 【name 查询时返回】查询的用户名。
                    example: ExamplePlayer
                  count:
                    type: integer
                    description: 【name 查询时返回】匹配到的用户数量，为 0 时表示未找到。
                    example: 2
                  results:
                    type: array
                    description: 【name 查询时返回】匹配用户列表，包含当前用户名或曾用名匹配的所有玩家。
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 玩家当前的用户名。
                          example: ExamplePlayer
                        uuid:
                          type: string
                          description: 玩家的UUID（带连字符格式）。
                          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        name_num:
                          type: integer
                          description: 历史名称的总数。
                          example: 1
                        history:
                          type: array
                          description: 历史用户名数组。
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: ExamplePlayer
                              changedToAt:
                                type: string
                                example: 2023/09/13 10:10:06
                  id:
                    type: string
                    description: 【uuid 查询时返回】玩家当前的用户名。
                    example: T8K_
                  uuid:
                    type: string
                    description: 【uuid 查询时返回】被查询玩家的UUID（带连字符格式）。
                    example: ee9b4ed1-aac1-491e-b761-1471be374b80
                  name_num:
                    type: integer
                    description: 【uuid 查询时返回】历史名称的总数（包含当前名称）。
                    example: 4
                  history:
                    type: array
                    description: 【uuid 查询时返回】包含所有历史用户名的数组，按时间倒序排列。
                    items:
                      type: object
                      properties:
                        changedToAt:
                          type: string
                          description: 更名为此名称的时间，格式为 `YYYY/MM/DD HH:mm:ss`。如果是初始名称，则为 `Initial`。
                          example: 2015/02/04 22:42:25
                        name:
                          type: string
                          description: 当时使用的用户名。
                          example: jeb_
        "400":
          description: 请求失败。请检查你是否提供了 `name` 或 `uuid` 参数中的至少一个。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: uuid or name query parameter is required
        "404":
          description: 用户未找到。我们根据你提供的 UUID 未能找到对应的 Minecraft 玩家。请确认 UUID 是否正确。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NOT_FOUND
                  details:
                    type: object
                  message:
                    type: string
                    example: User with the specified UUID not found.
        "502":
          description: 服务暂时不可用，请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Service temporarily unavailable.
      x-search-words:
        - minecraft
        - mc
        - 我的世界
        - 曾用名
        - 历史用户名
        - 改名记录
        - uuid
        - 玩家查询
        - mojang
        - id
        - name
        - 用户名
      x-seo-optimized-text: 免费Minecraft玩家曾用名查询API，我的世界历史用户名追溯接口。通过用户名或UUID查询玩家所有历史名称及变更时间。稳定可靠的MC玩家历史数据API服务，适用于服务器管理、玩家识别、社区运营等场景。
      x-seo-keywords:
        - 免费Minecraft API
        - MC曾用名查询
        - 我的世界历史ID
        - Minecraft改名记录
        - 玩家历史用户名
        - UUID查询API
        - Mojang玩家数据
      x-seo-title: 免费Minecraft玩家曾用名查询API - MC历史用户名追溯
      x-seo-usage-scenarios: 适用于Minecraft服务器管理、玩家身份追溯、社区运营、封禁记录关联、老玩家识别、游戏数据分析等场景
      x-seo-related-apis:
        - Minecraft玩家信息
        - Minecraft服务器状态
        - Steam用户信息
        - 游戏数据API
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /game/minecraft/serverstatus:
    get:
      tags:
        - Game
      summary: 查询 MC 服务器
      description: >-
        想在加入服务器前看看有多少人在线？或者检查一下服务器开没开？用这个接口就对了！


        ## 功能概述

        你可以通过提供服务器地址（域名或IP），来获取一个 Minecraft Java 版服务器的实时状态。返回信息非常丰富，包括服务器是否在线、当前玩家数、最大玩家数、服务器版本、MOTD（每日消息）以及服务器图标等。
      operationId: get-game-minecraft-serverstatus
      parameters:
        - name: server
          in: query
          required: true
          description: Minecraft服务器的地址，可以是域名（如 `hypixel.net`）或 `IP:端口` 的形式（如 `mc.example.com:25565`）。如果省略端口，将默认使用 `25565`。
          schema:
            type: string
            example: hypixel.net
          x-tooltip: "例如: hypixel.net 或 mc.example.com"
      responses:
        "200":
          description: 查询成功！返回服务器的详细状态信息。
          content:
            application/json:
              schema:
                type: object
                properties:
                  favicon_url:
                    type: string
                    description: 服务器图标的 Base64 Data URI。你可以直接在 `<img>` 标签的 `src` 属性中使用它。
                    example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACayAAACqaXHeAAAA...
                  ip:
                    type: string
                    description: 服务器解析后的IP地址。
                    example: 172.65.252.238
                  max_players:
                    type: integer
                    description: 服务器配置的最大玩家容量。
                    example: 20000
                  motd_clean:
                    type: string
                    description: 纯文本格式的服务器MOTD（每日消息），去除了所有颜色和格式代码。
                    example: |-
                      Hypixel Network [1.8-1.20]
                                                            SKYBLOCK
                  motd_html:
                    type: string
                    description: HTML格式的服务器MOTD，保留了颜色和样式，方便你在网页上直接渲染。
                    example: '<span style="color: #ffff55"><b>Hypixel Network </b></span><span style="color: #555555">[</span><span style="color: #aaaaaa">1.8-1.20</span><span style="color: #555555">]</span><br /><span style="color: #ffffff">                                      </span><span style="color: #55ff55"><b>SKYBLOCK</b></span>'
                  online:
                    type: boolean
                    description: 服务器当前是否在线。
                    example: true
                  players:
                    type: integer
                    description: 当前在线的玩家数量。
                    example: 45321
                  port:
                    type: integer
                    description: 服务器使用的端口。
                    example: 25565
                  version:
                    type: string
                    description: 服务器报告的版本信息。
                    example: Requires 1.8-1.20
        "400":
          description: 请求失败。请检查你是否提供了 `server` 参数。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Missing 'server' parameter.
        "404":
          description: 服务器未找到。这可能意味着你提供的服务器地址无法解析，或者服务器当前处于离线状态。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NOT_FOUND
                  details:
                    type: object
                  message:
                    type: string
                    example: Server not found or is offline.
        "502":
          description: 查询失败。在尝试连接并获取服务器信息时发生网络错误或协议错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to query server status.
      x-search-words:
        - minecraft
        - mc
        - 我的世界
        - 服务器状态
        - 服务器信息
        - 在线人数
        - motd
        - ping
        - server status
        - java
      x-seo-optimized-text: 免费Minecraft服务器状态查询API，实时获取MC Java版服务器在线状态、玩家人数、服务器版本、MOTD和图标。支持Hypixel等主流服务器查询，无需注册即可调用。适用于服务器监控、玩家社区、MC工具开发等场景。
      x-seo-keywords:
        - Minecraft服务器查询API
        - MC服务器状态
        - 我的世界服务器API
        - Minecraft在线人数查询
        - MC服务器监控
        - Hypixel服务器状态
        - 免费MC API
        - 服务器Ping
      x-seo-title: Minecraft服务器状态查询API - 在线人数实时监控
      x-seo-usage-scenarios: 适用于Minecraft服务器监控面板、玩家社区网站、MC服务器列表、游戏启动器、Discord机器人等场景
      x-seo-related-apis:
        - Minecraft玩家信息查询
        - Minecraft历史ID查询
        - Steam用户信息
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /game/minecraft/userinfo:
    get:
      tags:
        - Game
      summary: 查询 MC 玩家
      description: |-
        只需要一个玩家的用户名，就能快速获取到他的正版皮肤和独一无二的UUID！

        ## 功能概述
        这是一个基础但非常实用的接口。通过玩家当前的游戏内名称（Username），你可以查询到他对应的UUID（唯一标识符）和当前皮肤的URL地址。这是构建许多其他玩家相关服务的第一步。
      operationId: get-game-minecraft-userinfo
      parameters:
        - name: username
          in: query
          required: true
          description: 玩家的 Minecraft 游戏内名称（正版ID）。
          schema:
            type: string
            example: Notch
          x-tooltip: "例如: Notch"
      responses:
        "200":
          description: 查询成功！返回用户的UUID和皮肤链接。
          content:
            application/json:
              schema:
                type: object
                properties:
                  skin_url:
                    type: string
                    description: 玩家当前使用的皮肤图片URL。
                    example: http://textures.minecraft.net/texture/292009a499420915b854a9913d9fa92750175814529452a55982791844863f53
                  username:
                    type: string
                    description: 玩家当前的准确用户名（注意大小写可能与输入不同）。
                    example: Notch
                  uuid:
                    type: string
                    description: 玩家的32位无破折号UUID。
                    example: ee9b4ed1aac1491eb7611471be374b80
        "400":
          description: 请求失败。请检查你是否提供了 `username` 参数。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Missing 'username' parameter.
        "404":
          description: 玩家未找到。根据你提供的用户名，未能找到对应的 Minecraft 玩家。请检查拼写是否正确。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NOT_FOUND
                  details:
                    type: object
                  message:
                    type: string
                    example: Player with the specified username not found.
        "502":
          description: 上游服务错误。在向 Mojang 的官方 API 请求数据时遇到了问题。这可能是他们的服务暂时中断，请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to fetch data from Mojang API.
      x-search-words:
        - minecraft
        - mc
        - 我的世界
        - 玩家信息
        - 查uuid
        - 皮肤
        - skin
        - 正版查询
        - username
        - id
      x-seo-optimized-text: 免费Minecraft玩家信息查询API，通过用户名获取正版玩家UUID和皮肤URL。支持快速验证正版账号，获取高清皮肤图片。无需注册，即调即用。适用于服务器管理、玩家验证、皮肤展示等场景。
      x-seo-keywords:
        - 免费Minecraft API
        - MC玩家查询
        - 我的世界UUID查询
        - Minecraft皮肤API
        - 正版玩家验证
        - MC用户名查询
        - 游戏玩家信息API
        - Mojang API
      x-seo-title: 【免费】Minecraft玩家信息查询API - UUID/皮肤一键获取
      x-seo-usage-scenarios: 适用于Minecraft服务器管理、玩家身份验证、皮肤展示系统、玩家数据统计、游戏社区应用、MC工具开发等场景
      x-seo-related-apis:
        - Minecraft服务器状态
        - Minecraft历史ID查询
        - Steam用户信息
        - 游戏数据API
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /game/steam/summary:
    get:
      tags:
        - Game
      summary: 查询 Steam 用户
      description: >-
        想在你的网站或应用中展示用户的 Steam 个人资料？这个接口就是为你准备的。


        ## 功能概述

        通过一个用户的 Steam 标识（支持多种格式），你可以获取到他公开的个人资料摘要，包括昵称、头像、在线状态、真实姓名（如果公开）和个人资料主页URL等信息。


        ## 支持的参数格式

        接口现在支持以下几种标识符格式：

        - **`steamid`**: 64位SteamID（如 `76561197960287930`）

        - **`id`**: 自定义URL名称（如 `gabelogannewell`）

        - **`id3`**: Steam ID3格式（如 `STEAM_0:0:22202`）

        - 完整的个人资料链接

        - 好友代码


        ## 使用须知


        > [!IMPORTANT]

        > **API Key 安全**

        > 此接口需要一个 Steam Web API Key。我们强烈建议由后端统一配置和调用，以避免在客户端泄露。当然，你也可以通过 `key` 查询参数临时提供一个Key来覆盖后端配置。


        在处理响应时，请注意以下数字代码的含义：

        - **`personastate` (用户状态)**: 0-离线, 1-在线, 2-忙碌, 3-离开, 4-打盹, 5-想交易, 6-想玩。

        - **`communityvisibilitystate` (社区可见性)**: 1-私密, 3-公开 (API通常只能查到这两种状态)。
      operationId: get-game-steam-summary
      parameters:
        - name: steamid
          in: query
          required: false
          description: |-
            用户的 Steam 标识。可以是以下任意一种格式：
            - 纯数字的 **SteamID64**
            - 用户的 **自定义 URL 名称** (Vanity URL)
            - 完整的 **个人资料链接** (包含 SteamID64 或自定义名称)
            - 好友代码 (如 `22202`)
          schema:
            type: string
            example: "76561197960287930"
          x-tooltip: |-
            支持多种格式，例如：
            - SteamID64: 76561197960287930
            - 自定义名称: gabelogannewell
            - 个人资料链接（ID）: https://steamcommunity.com/profiles/76561197960287930
            - 个人资料链接（自定义名）: https://steamcommunity.com/id/gabelogannewell
            - 好友代码: 22202
        - name: id
          in: query
          required: false
          description: 用户的 Steam 自定义URL名称（Vanity URL）。例如个人资料链接中 `/id/` 后面的部分。
          schema:
            type: string
            example: gabelogannewell
          x-tooltip: "自定义URL名称，例如: gabelogannewell"
        - name: id3
          in: query
          required: false
          description: 用户的 Steam ID3 格式标识符。传统的 Steam ID 格式，形如 STEAM_X:Y:Z。
          schema:
            type: string
            example: STEAM_0:0:22202
          x-tooltip: "Steam ID3格式，例如: STEAM_0:0:22202"
        - name: key
          in: query
          required: false
          description: 你的 Steam Web API Key。这是一个可选参数，如果提供，它将覆盖我们在后端配置的全局Key。这为你提供了更大的灵活性，但请务必注意Key的保密，不要在前端暴露。
          schema:
            type: string
          x-tooltip: 可选，用于覆盖全局API Key。
      responses:
        "200":
          description: 查询成功！返回用户的 Steam 公开资料摘要。
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatar:
                    type: string
                    description: 32x32 像素的小尺寸头像URL。
                    example: https://avatars.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb.jpg
                  avatarfull:
                    type: string
                    description: 184x184 像素的大尺寸头像URL。
                    example: https://avatars.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg
                  avatarmedium:
                    type: string
                    description: 64x64 像素的中等尺寸头像URL。
                    example: https://avatars.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_medium.jpg
                  communityvisibilitystate:
                    type: integer
                    description: "社区资料的可见性状态: 1=私密, 3=公开。"
                    example: 3
                  loccountrycode:
                    type: string
                    description: 用户个人资料中设置的国家代码 (ISO 3166-1)，前提是用户已设置并公开。
                    example: US
                  personaname:
                    type: string
                    description: 玩家的当前昵称。
                    example: Gabe Newell
                  personastate:
                    type: integer
                    description: "用户当前的在线状态: 0-离线, 1-在线, 2-忙碌, 3-离开, 4-打盹, 5-想交易, 6-想玩。"
                    example: 1
                  primaryclanid:
                    type: string
                    description: 玩家设置的主要部落的64位ID。
                    example: "103582791429521412"
                  profilestate:
                    type: integer
                    description: 如果用户设置了个人资料，则为1。
                    example: 1
                  profileurl:
                    type: string
                    description: 用户的Steam社区个人资料页完整URL。
                    example: https://steamcommunity.com/id/gabelogannewell/
                  realname:
                    type: string
                    description: 用户的真实姓名，前提是用户已设置并公开。
                    example: Gabe Logan Newell
                  steamid:
                    type: string
                    description: 被查询用户的64位SteamID。
                    example: "76561197960435530"
                  timecreated:
                    type: integer
                    description: 账户创建时的Unix时间戳（秒）。
                    example: 1063407589
                  timecreated_str:
                    type: string
                    description: 我们为你格式化好的账户创建时间，更直观。
                    example: 2003-09-12 22:59:49
        "400":
          description: 请求失败。请检查你是否提供了 `steamid`、`id` 或 `id3` 中的任意一个参数。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: "Missing steam identifier parameter. Please provide one of: steamid, id, or id3."
        "401":
          description: 认证失败。你提供的 Steam Web API Key 无效或已过期，或者你没有提供 Key。请检查你的 Key。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UNAUTHENTICATED
                  details:
                    type: object
                  message:
                    type: string
                    example: Missing or invalid API Key.
        "404":
          description: 用户未找到。根据你提供的 SteamID 未能找到对应的用户，或者该用户资料为完全私密。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NOT_FOUND
                  details:
                    type: object
                  message:
                    type: string
                    example: User with the specified SteamID not found.
        "502":
          description: 上游服务错误。在向 Steam 的官方 API 请求数据时遇到了问题。这可能是他们的服务暂时中断，请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to fetch data from Steam API.
      x-search-words:
        - steam
        - steamid
        - 个人资料
        - 用户查询
        - 头像
        - 在线状态
        - g胖
        - valve
        - summary
        - profile
        - id
        - id3
        - vanity url
        - 自定义链接
        - steam id3
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /game/epic-free:
    get:
      tags:
        - Game
      summary: Epic 免费游戏
      description: |-
        白嫖党的福音来了！想第一时间知道Epic商店本周送了哪些游戏大作吗？

        ## 功能概述
        这个接口帮你实时追踪Epic Games商店的每周免费游戏活动。无需任何参数，调用后即可获得当前所有免费游戏的完整信息，包括游戏封面、原价、剩余时间等，再也不用担心错过心仪的免费游戏了！

        ## 使用场景
        - 开发游戏资讯应用或网站
        - 制作Epic免费游戏推送机器人
        - 为用户提供游戏收藏建议
        - 构建个人游戏库管理工具

        > [!TIP]
        > **关于时间格式**
        > 为了方便不同场景的使用，我们同时提供了可读的时间字符串（如 `2025/01/10 00:00:00`）和13位毫秒时间戳。前端显示用字符串，程序逻辑用时间戳
      operationId: get-game-epic-free
      parameters: []
      responses:
        "200":
          description: 获取成功！白嫖成功，返回当前Epic Games商店的免费游戏大礼包。
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: 免费游戏列表数组。
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 游戏的唯一标识ID。
                          example: epic-game-123456
                        title:
                          type: string
                          description: 游戏的完整标题名称。
                          example: Control Ultimate Edition
                        cover:
                          type: string
                          description: 游戏封面图片的URL地址。
                          example: https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_ControlUltimateEdition_RemedyEntertainment_S1_2560x1440-a2a40e2b9164c2c0e031bd4e88bacd01.jpg
                        original_price:
                          type: number
                          description: 游戏的原价，单位为人民币元。
                          example: 40
                        original_price_desc:
                          type: string
                          description: 格式化后的原价描述字符串。
                          example: ¥40.00
                        description:
                          type: string
                          description: 游戏的简介描述。
                          example: 在这款超自然动作冒险游戏中，你将掌握一系列超自然能力、改装武器，探索神秘的联邦控制局。
                        seller:
                          type: string
                          description: 游戏的发行商或销售商。
                          example: Remedy Entertainment
                        is_free_now:
                          type: boolean
                          description: 当前是否处于免费状态。
                          example: true
                        free_start:
                          type: string
                          description: 免费开始时间的可读字符串格式。
                          example: 2025/01/10 00:00:00
                        free_start_at:
                          type: integer
                          description: 免费开始时间的13位毫秒时间戳。
                          example: 1736438400000
                        free_end:
                          type: string
                          description: 免费结束时间的可读字符串格式。
                          example: 2025/01/17 00:00:00
                        free_end_at:
                          type: integer
                          description: 免费结束时间的13位毫秒时间戳。
                          example: 1737043200000
                        link:
                          type: string
                          description: 游戏在Epic Games商店的详情页链接。
                          example: https://store.epicgames.com/zh-CN/p/control
        "500":
          description: Epic Games 免费游戏服务暂时不可用，请稍后再试
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: SERVICE_UNAVAILABLE
                  message:
                    type: string
                    example: Epic Games 免费游戏服务暂时不可用，请稍后再试
      x-search-words:
        - epic
        - epic games
        - 免费游戏
        - 每周免费
        - 白嫖
        - 游戏
        - 限时免费
        - epic商店
        - free games
        - weekly free
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/bing-daily:
    get:
      tags:
        - Image
      summary: 必应壁纸
      description: >-
        每天都想换张新壁纸？让必应的美图点亮你的一天吧！


        ## 功能概述

        这个接口会获取 Bing 搜索引擎当天全球同步的每日壁纸，并直接以图片形式返回。你可以用它来做应用的启动页、网站背景，或者任何需要每日更新精美图片的地方。


        ## 使用须知


        > [!NOTE]

        > **响应格式是图片**

        > 请注意，此接口成功时直接返回图片二进制数据（通常为 `image/jpeg`），而非 JSON 格式。请确保客户端能够正确处理。


        我们内置了备用方案：如果从必应官方获取图片失败，系统会尝试返回一张预存的高质量风景图，以保证服务的稳定性。
      operationId: get-image-bing-daily
      parameters: []
      responses:
        "200":
          description: 请求成功！响应体是JPEG或PNG格式的图片二进制数据。
          content:
            image/*:
              schema:
                type: string
                format: binary
        "502":
          description: 上游服务错误。我们无法从必应官方API获取到图片，并且备用图片方案也失败了。请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  message:
                    type: string
                    example: Failed to fetch Bing daily image or fallback image.
      x-search-words:
        - 每日必应壁纸api
        - bing每日壁纸
        - 必应壁纸api
        - 必应每日壁纸
        - bing每日一图
        - 微软壁纸
        - 必应背景图
        - 每日壁纸
        - 高清壁纸
        - 桌面背景
        - 免费壁纸api
        - 壁纸接口
        - 自动更新壁纸
        - bing壁纸
        - 必应
        - wallpaper api
        - daily wallpaper
        - microsoft wallpaper
        - 免费接口
        - 背景图片api
      x-seo-optimized-text: 免费必应每日壁纸API接口，获取微软Bing搜索引擎的精美每日壁纸。每日自动更新，提供1920x1080高清壁纸图片，直接返回图片数据。无需注册，即调即用。适用于桌面背景、网站装饰、应用启动页等场景。
      x-seo-keywords:
        - 每日必应壁纸api
        - bing每日壁纸
        - 必应壁纸api接口
        - 微软壁纸API
        - 每日壁纸服务
        - Bing每日一图
        - 免费必应壁纸
        - 高清壁纸API
        - 必应背景图
        - 每日自动更新壁纸
        - 桌面壁纸API
        - 免费壁纸接口
      x-seo-title: 【免费】必应每日壁纸API - Bing高清壁纸自动更新
      x-seo-usage-scenarios: 适用于桌面壁纸应用、移动应用启动页、网站背景图、博客配图、设计项目素材、社交媒体背景、幻灯片背景、屏保程序、个人网站装饰、自动壁纸更换工具等场景
      x-seo-related-apis:
        - 图片处理
        - 随机图片
        - 图片上传
        - 素材服务
      x-faq:
        - question: 这个API如何使用？
          answer: 直接访问 https://uapis.cn/api/v1/image/bing-daily 即可获取当天的必应壁纸。接口返回图片二进制数据，可以直接在 <img> 标签中使用。
        - question: 图片是什么格式和分辨率？
          answer: 图片通常为JPEG格式，分辨率为1920x1080或更高。必应会根据当天的图片自动选择最佳质量。
        - question: 如果必应官方服务不可用怎么办？
          answer: 我们有备用方案，如果无法获取必应官方图片，系统会返回一张预存的高质量风景图，确保服务稳定性。
        - question: 这个服务是否免费？
          answer: 是的，这个API完全免费，无需注册或API密钥，适合个人和商业项目使用。
        - question: 图片会缓存多长时间？
          answer: 图片每天自动更新，我们会缓存当天的图片以提高访问速度，次日会自动获取新的壁纸。
      x-jsonld:
        "@context": https://schema.org
        "@type": TechnicalArticle
        headline: 每日必应壁纸API - 免费Bing高清壁纸服务
        description: 免费必应每日壁纸API接口，获取微软Bing搜索引擎的精美每日壁纸。每日自动更新，提供高清壁纸图片，支持直接获取图片二进制数据。适用于桌面背景、网站装饰、应用启动页、设计素材等场景。
        author:
          "@type": Organization
          name: UAPI
          url: https://uapis.cn
        publisher:
          "@type": Organization
          name: UAPI
          url: https://uapis.cn
        datePublished: 2024-01-01
        dateModified: 2024-12-01
        mainEntity:
          "@type": SoftwareApplication
          name: 必应每日壁纸API
          applicationCategory: WebAPI
          operatingSystem: All
          url: https://uapis.cn/api/v1/image/bing-daily
          offers:
            "@type": Offer
            price: "0"
            priceCurrency: CNY
        about:
          - "@type": Thing
            name: API端点
            description: 主要API端点：https://uapis.cn/api/v1/image/bing-daily
          - "@type": Thing
            name: 响应格式
            description: 直接返回图片二进制数据（JPEG/PNG格式），而非JSON格式
          - "@type": Thing
            name: 使用方法
            description: 可以直接在 <img> 标签中使用：<img src='https://uapis.cn/api/v1/image/bing-daily' />
          - "@type": Thing
            name: 备用方案
            description: 如果无法获取必应官方图片，系统会返回预存的高质量风景图，确保服务稳定性
          - "@type": Thing
            name: 实际应用
            description: 桌面壁纸应用、网站背景、移动应用启动页、设计素材、自动壁纸更换工具
        mentions:
          - "@type": WebAPI
            name: 必应每日壁纸API
            url: https://uapis.cn/api/v1/image/bing-daily
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/frombase64:
    post:
      tags:
        - Image
      summary: 通过Base64编码上传图片
      description: >-
        当你需要在前端处理完图片（比如裁剪、加滤镜后），不通过传统表单，而是直接上传图片的场景，这个接口就派上用场了。


        ## 功能概述

        你只需要将图片的 Base64 编码字符串发送过来，我们就会把它解码、保存为图片文件，并返回一个可供访问的公开 URL。


        ## 使用须知


        > [!IMPORTANT]

        > **关于 `imageData` 格式**

        > 你发送的 `imageData` 字符串必须是完整的 Base64 Data URI 格式，它需要包含 MIME 类型信息，例如 `data:image/png;base64,iVBORw0KGgo...`。缺少 `data:image/...;base64,` 前缀将导致解码失败。
      operationId: post-image-frombase64
      parameters: []
      responses:
        "200":
          description: 上传成功！返回图片的访问地址。
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_url:
                    type: string
                    description: 图片保存后在服务器上的绝对访问URL。
                    example: https://uapis.cn/static/uploads/91e42db1c66c0b276abf6234dc50b2eb.png
                  msg:
                    type: string
                    description: 操作结果描述。
                    example: success
        "400":
          description: 请求失败。可能的原因有：请求体不是有效的JSON，缺少 `imageData` 字段，或者 `imageData` 的内容不是有效的Base64 Data URI。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Invalid request body or imageData.
        "500":
          description: 服务器内部错误。在解码或保存图片文件时发生了未知错误。请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to save the image.
      requestBody:
        description: 一个JSON对象，包含 `imageData` 字段，其值为你想要上传图片的完整Base64 Data URI。
        required: true
        content:
          application/json:
            schema:
              required:
                - imageData
              type: object
              properties:
                imageData:
                  type: string
                  description: 图片的Base64 Data URI，必须包含MIME类型头。例如：`data:image/png;base64,...`
                  example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=
      x-search-words:
        - base64
        - 图片上传
        - 图床
        - 解码
        - datauri
        - upload image
        - 图片存储
      x-seo-optimized-text: 免费Base64图片上传API接口，支持通过Base64编码上传图片文件。快速便捷的图片处理服务，支持多种图片格式。适用于图片存储、文件上传、图片转换等场景。
      x-seo-keywords:
        - 免费图片上传API
        - Base64图片接口
        - 图片处理API
        - 文件上传服务
        - 图片转换API
        - 图片存储接口
        - Base64上传工具
      x-seo-title: 免费Base64图片上传API接口 - 图片处理服务
      x-seo-usage-scenarios: 适用于网站图片上传、移动应用图片处理、图片格式转换、临时图片存储、图片编辑工具、文件管理系统等场景
      x-seo-related-apis:
        - Base64编码
        - 图片处理
        - 文件服务
        - 图片压缩
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/motou:
    get:
      tags:
        - Image
      summary: 生成摸摸头GIF (QQ号)
      description: >-
        想在线rua一下好友的头像吗？这个趣味接口可以满足你。


        ## 功能概述

        此接口通过GET方法，专门用于通过QQ号生成摸摸头GIF。你只需要提供一个QQ号码，我们就会自动获取其公开头像，并制作成一个可爱的动图。


        ## 使用须知

        - **响应格式**：接口成功时直接返回 `image/gif` 格式的二进制数据。

        - **背景颜色**：你可以通过 `bg_color` 参数来控制GIF的背景。使用 `transparent` 选项可以让它更好地融入各种聊天背景中。
      operationId: get-image-motou
      parameters:
        - name: qq
          in: query
          required: true
          description: 你想要摸头的对象的QQ号码。
          schema:
            type: string
            example: "10001"
          x-tooltip: 纯数字的QQ号。
        - name: bg_color
          in: query
          required: false
          description: GIF的背景颜色。留空则由后端服务决定默认值。
          schema:
            type: string
            enum:
              - white
              - black
              - transparent
            example: transparent
            x-enumLabels:
              white: 白色
              black: 黑色
              transparent: 透明
          x-tooltip: 可选值为 'white', 'black', 'transparent'。推荐使用 'transparent'。
      responses:
        "200":
          description: 生成成功！响应体是GIF格式的图片二进制数据。
          content:
            image/gif:
              schema:
                type: string
                format: binary
        "400":
          description: 请求参数错误。必须提供有效的 'qq' 参数。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: QQ number is required
        "500":
          description: 服务器内部错误。可能的原因包括：获取QQ头像失败，或在生成GIF过程中发生错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to generate image
      x-search-words:
        - 摸头
        - 摸摸头
        - petpet
        - rua
        - gif
        - 表情包
        - qq头像
        - 生成器
        - 动图
      x-seo-optimized-text: 免费摸头GIF生成API，输入QQ号自动获取头像并生成可爱的摸摸头动图。支持透明背景，适合聊天斗图、表情包制作。Petpet风格动图生成器，无需注册即可使用。
      x-seo-keywords:
        - 摸头GIF生成
        - petpet API
        - QQ头像摸头
        - 摸摸头表情包
        - GIF生成器
        - rua头像
        - 动图制作API
        - 表情包生成
      x-seo-title: 【免费】摸头GIF生成API - Petpet风格动图制作
      x-seo-usage-scenarios: 适用于QQ机器人、聊天斗图、表情包制作、社交娱乐应用、趣味头像生成等场景
      x-seo-related-apis:
        - 表情包生成
        - 图片处理
        - QQ头像获取
        - GIF制作
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
    post:
      tags:
        - Image
      summary: 生成摸摸头GIF
      description: |-
        除了使用QQ头像，你还可以通过上传自己的图片或提供图片URL来制作独一无二的摸摸头GIF。

        ## 功能概述
        此接口通过POST方法，支持两种方式生成GIF：
        1.  **图片URL**：在表单中提供 `image_url` 字段。
        2.  **上传图片**：在表单中上传 `file` 文件。

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/gif` 格式的二进制数据。
        - **参数优先级**：如果同时提供了 `image_url` 和上传的 `file` 文件，系统将 **优先使用 `image_url`**。
        - **背景颜色**：同样支持 `bg_color` 表单字段来控制GIF背景。
      operationId: post-image-motou
      parameters: []
      responses:
        "200":
          description: 生成成功！响应体是GIF格式的图片二进制数据。
          content:
            image/gif:
              schema:
                type: string
                format: binary
        "400":
          description: 请求参数错误。必须提供 'image_url' 或上传 'file' 文件两者中的一个。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Either image_url or file is required
        "500":
          description: 服务器内部错误。可能的原因包括：从URL获取图片失败、处理上传文件失败，或在生成GIF过程中发生错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to generate image from URL
      requestBody:
        description: 包含图片来源和背景色的表单数据。必须提供 'image_url' 或 'file' 两者之一。
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_url:
                  type: string
                  format: uri
                  description: 图片的URL地址。如果提供此项，将优先使用该URL的图片。
                  example: https://example.com/avatar.jpg
                file:
                  type: string
                  format: binary
                  description: 上传的图片文件。支持JPG、PNG、GIF等常见格式。
                  x-accept: .jpg,.jpeg,.png,.gif,.webp,.bmp
                bg_color:
                  type: string
                  description: GIF的背景颜色。可选值为 'white', 'black', 'transparent'。
                  enum:
                    - white
                    - black
                    - transparent
                  example: transparent
                  x-enumLabels:
                    white: 白色
                    black: 黑色
                    transparent: 透明
      x-search-words:
        - 摸头
        - 摸摸头
        - petpet
        - rua
        - gif
        - 表情包
        - 生成器
        - 动图
        - 图片上传
        - URL
        - 自定义头像
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/speechless:
    post:
      tags:
        - Image
      summary: 生成你们怎么不说话了表情包
      description: |-
        你们怎么不说话了？是不是都在偷偷玩Uapi，求求你们不要玩Uapi了

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/png` 格式的二进制数据。
        - **文字内容**：至少需要提供 `top_text`（上方文字）或 `bottom_text`（下方文字）之一。
        - **梗图逻辑**：上方描述某个行为，下方通常以「们」开头表示劝阻，形成戏谑的对比效果。
      operationId: post-image-speechless
      parameters: []
      responses:
        "200":
          description: 生成成功！响应体是PNG格式的表情包图片二进制数据。
          content:
            image/png:
              schema:
                type: string
                format: binary
        "400":
          description: 请求参数错误。必须提供 'top_text' 或 'bottom_text' 至少其中之一。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: At least one of top_text or bottom_text is required
        "500":
          description: 服务器内部错误。在生成表情包图片过程中发生错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to generate speechless meme
      requestBody:
        description: 包含表情包文字内容的JSON对象。至少需要提供上方或下方文字之一。
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                top_text:
                  type: string
                  description: 表情包上方的文字内容。你们怎么不说话了，是不是都在偷偷 _______
                  example: 玩Uapi
                bottom_text:
                  type: string
                  description: 表情包下方的文字内容。求求你_______
                  example: 们不要玩Uapi了
      x-search-words:
        - 你们怎么不说话了
        - 怎么不说话了
        - speechless
        - 无语
        - 无言以对
        - 表情包
        - 表情包生成
        - 斗图
        - meme
        - 梗图
        - 自定义表情包
        - 文字表情包
        - 在线表情包
        - 表情包制作器
        - 聊天表情
        - 趣味图片
        - 对比梗
        - 反差梗
      x-seo-optimized-text: 免费你们怎么不说话了表情包生成API接口，快速生成经典梗图表情包。支持自定义上下文字，一键生成趣味对比反差表情包图片。适用于聊天斗图、群聊娱乐、社交分享等场景。
      x-seo-keywords:
        - 你们怎么不说话了表情包
        - 你们怎么不说话了API
        - 表情包生成API
        - 免费表情包接口
        - 自定义表情包
        - 斗图API
        - 表情包制作
        - 在线表情包生成器
        - 对比梗图
      x-seo-title: 你们怎么不说话了表情包生成API - 经典梗图制作接口
      x-seo-usage-scenarios: 适用于社交聊天斗图、群聊娱乐、内容创作配图、社交媒体分享、趣味营销素材、个性化表情制作、娱乐互动应用、网络梗图创作等场景
      x-seo-related-apis:
        - 摸头表情包
        - 图片生成
        - 图片处理
        - 表情包制作
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/qrcode:
    get:
      tags:
        - Image
      summary: 生成二维码
      description: |-
        无论是网址、文本还是联系方式，通通可以变成一个二维码！这是一个非常灵活的二维码生成工具。

        ## 功能概述
        你提供一段文本内容，我们为你生成对应的二维码图片。你可以自定义尺寸、前景色、背景色，还支持透明背景，并选择不同的返回格式以适应不同场景。

        ## 使用须知

        > [!IMPORTANT]
        > **关键参数 `format`**
        > 此参数决定了成功响应的内容类型和结构，请务必根据你的需求选择并正确处理响应：
        > - **`image`** (默认): 直接返回 `image/png` 格式的图片二进制数据，适合在 `<img>` 标签中直接使用。
        > - **`json`**: 返回一个包含 Base64 Data URI 的 JSON 对象，适合需要在前端直接嵌入CSS或HTML的场景。
        > - **`json_url`**: 返回一个包含图片临时URL的JSON对象，适合需要图片链接的场景。

        > [!TIP]
        > **颜色参数说明**
        > - 颜色参数使用十六进制格式（如 `#FF0000`）
        > - URL 中需要对 `#` 进行编码，即 `%23`（例如：`fgcolor=%23FF0000`）
        > - 当 `transparent=true` 时，`bgcolor` 参数会被忽略
      operationId: get-image-qrcode
      parameters:
        - name: text
          in: query
          required: true
          description: 你希望编码到二维码中的任何文本内容，比如一个URL、一段话或者一个JSON字符串。
          schema:
            type: string
            example: https://www.bilibili.com/video/BV1uT4y1P7CX/
          x-tooltip: URL、文本、名片信息等都可以。
        - name: size
          in: query
          required: false
          description: 二维码图片的边长（正方形），单位是像素。有效范围是 256 到 2048 之间。
          schema:
            type: integer
            default: 256
            maximum: 2048
            example: 512
          x-tooltip: 默认256px，最大2048px。
        - name: format
          in: query
          required: false
          description: 指定响应内容的格式。可选值为 `image`, `json`, `json_url`。
          schema:
            type: string
            default: image
            enum:
              - image
              - json
              - json_url
            example: image
            x-enumLabels:
              image: 图片
              json: JSON数据
              json_url: JSON+URL
          x-tooltip: 默认为'image'，直接返回图片。
        - name: transparent
          in: query
          required: false
          description: 是否使用透明背景。启用后生成的 PNG 图片将具有 alpha 通道，背景透明。
          schema:
            type: boolean
            default: false
          x-tooltip: 启用后 bgcolor 参数会被忽略。
        - name: fgcolor
          in: query
          required: false
          description: 二维码前景色（即二维码本身的颜色），使用十六进制格式。URL 中需要将 `#` 编码为 `%23`。
          schema:
            type: string
            default: "#000000"
          x-tooltip: "默认黑色，URL中使用 %23 代替 #"
        - name: bgcolor
          in: query
          required: false
          description: 二维码背景色，使用十六进制格式。当 `transparent=true` 时此参数会被忽略。URL 中需要将 `#` 编码为 `%23`。
          schema:
            type: string
            default: "#FFFFFF"
          x-tooltip: 默认白色，透明背景时忽略此参数。
      responses:
        "200":
          description: 请求成功。响应的格式和内容取决于你传入的 `format` 参数。请参考下面不同 `Content-Type` 的定义。
          content:
            image/png:
              schema:
                type: string
                format: binary
              x-description: 当 `format=image` (默认)时，你会收到此响应。
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: 图片的URL。当`format=json_url`时是临时公网URL；当`format=json`时是Base64 Data URI。
                    example: data:image/png;base64,iVBORw0KGgoAAA...
              x-description: 当 `format=json` 或 `format=json_url` 时，你会收到此响应。
        "400":
          description: 请求参数错误。请检查 `text` 是否提供，`size` 是否在有效范围内，`format` 是否为支持的值。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Invalid parameter provided.
        "500":
          description: 服务器内部错误。在生成二维码的过程中发生了未知错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to generate QR code.
      x-search-words:
        - 二维码
        - qrcode
        - 生成
        - 扫码
        - qr
        - generator
        - 链接
        - 文本
        - 名片
        - 透明
        - 颜色
      x-seo-optimized-text: 免费二维码生成API接口，支持自定义尺寸、颜色、透明背景和多种输出格式。将任意文本、网址、名片信息转换为二维码图片。支持直接返回图片、Base64编码、临时URL三种格式。无需注册，即调即用。
      x-seo-keywords:
        - 免费二维码API
        - 二维码生成接口
        - QRCode API
        - 在线生成二维码
        - 二维码图片API
        - 文本转二维码
        - 链接二维码生成
        - 名片二维码
        - 透明背景二维码
        - 自定义颜色二维码
      x-seo-title: 【免费】二维码生成API - 支持自定义尺寸、颜色和透明背景
      x-seo-usage-scenarios: 适用于支付二维码生成、分享链接二维码、电子名片、产品溯源码、活动签到码、WiFi连接码、批量二维码生成、品牌定制二维码等场景
      x-seo-related-apis:
        - 图片转Base64
        - Base64图片上传
        - 图片处理
        - 短链接
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/tobase64:
    get:
      tags:
        - Image
      summary: 图片转 Base64
      description: |-
        看到一张网上的图片，想把它转换成 Base64 编码以便嵌入到你的 HTML 或 CSS 中？用这个接口就对了。

        ## 功能概述
        你提供一个公开可访问的图片 URL，我们帮你把它下载下来，并转换成包含 MIME 类型的 Base64 Data URI 字符串返回给你。
      operationId: get-image-tobase64
      parameters:
        - name: url
          in: query
          required: true
          description: 需要转换为Base64的、可公开访问的图片URL地址。
          schema:
            type: string
            format: url
            example: https://ts3.tc.mm.bing.net/th?id=ORMS.44196851bb1757ec3f66572811fe8e07&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1.25&p=0
          x-tooltip: 必须是公网可以直接访问的图片链接。
      responses:
        "200":
          description: 转换成功！返回包含Base64编码的JSON对象。
          content:
            application/json:
              schema:
                type: object
                properties:
                  base64:
                    type: string
                    description: 转换后的完整Base64 Data URI，可以直接在CSS或HTML中使用。
                    example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=
                  msg:
                    type: string
                    description: 操作结果描述。
                    example: success
        "400":
          description: 请求参数错误。请检查你是否提供了 `url` 参数，以及它是否是一个合法的URL格式。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Missing or invalid 'url' parameter.
        "502":
          description: 获取图片失败。我们无法从你提供的URL下载图片。请检查该URL是否可以公开访问，以及它是否指向一个有效的图片资源。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to fetch image from the provided URL.
      x-search-words:
        - base64
        - 图片转换
        - 编码
        - image to base64
        - url to base64
        - encode
        - 链接转图片
      x-seo-optimized-text: 免费图片转Base64 API接口，将任意网络图片URL转换为Base64 Data URI编码。支持PNG、JPG、GIF等常见格式，可直接嵌入HTML/CSS使用。无需注册，即调即用。
      x-seo-keywords:
        - 免费图片转Base64
        - 图片Base64编码API
        - URL转Base64
        - 图片编码接口
        - image to base64
        - Data URI转换
        - 图片内嵌编码
      x-seo-title: 【免费】图片转Base64 API - URL图片一键转换Data URI
      x-seo-usage-scenarios: 适用于邮件模板图片内嵌、CSS背景图编码、离线应用图片存储、小程序图片处理、前端图片预加载等场景
      x-seo-related-apis:
        - Base64图片上传
        - 二维码生成
        - 图片处理
        - SVG转图片
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/svg:
    post:
      tags:
        - Image
      summary: SVG转图片
      description: >-
        需要将灵活的 SVG 矢量图形转换为常见的光栅图像格式吗？这个接口可以帮你轻松实现。


        ## 功能概述

        上传一个 SVG 文件，并指定目标格式（如 PNG、JPEG 等），接口将返回转换后的图像。你还可以调整输出图像的尺寸和（对于JPEG）压缩质量，以满足不同场景的需求。
      operationId: post-image-svg
      parameters:
        - name: format
          in: query
          required: false
          description: 输出图像的目标格式。支持的值：`png`, `jpeg`, `jpg`, `gif`, `tiff`, `bmp`。
          schema:
            type: string
            default: png
            enum:
              - png
              - jpeg
              - jpg
              - gif
              - tiff
              - bmp
        - name: width
          in: query
          required: false
          description: 输出图像的宽度（像素）。如果省略，将根据 `height` 保持宽高比，或者使用 SVG 的原始宽度。
          schema:
            type: integer
        - name: height
          in: query
          required: false
          description: 输出图像的高度（像素）。如果省略，将根据 `width` 保持宽高比，或者使用 SVG 的原始高度。
          schema:
            type: integer
        - name: quality
          in: query
          required: false
          description: JPEG 图像的压缩质量（1-100）。仅当 `format` 为 `jpeg` 或 `jpg` 时有效。
          schema:
            type: integer
            default: 90
      responses:
        "200":
          description: 转换成功！响应体是转换后图像的二进制数据。
          content:
            image/*:
              schema:
                type: string
                format: binary
        "400":
          description: 请求无效。可能是未上传文件或指定了不支持的输出格式。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: FILE_REQUIRED / UNSUPPORTED_FORMAT
                  message:
                    type: string
                    example: A human-readable error message.
        "500":
          description: 服务器内部错误。SVG 渲染或文件处理过程中发生错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: CONVERSION_FAILED
                  message:
                    type: string
                    example: A human-readable error message.
      requestBody:
        description: 要转换的 SVG 文件。
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 支持SVG文件
                  x-accept: .svg
      x-search-words:
        - svg
        - 转换
        - png
        - jpeg
        - gif
        - tiff
        - bmp
        - 矢量图
        - 光栅图
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/compress:
    post:
      tags:
        - Image
      summary: 无损压缩图片
      description: >-
        还在为图片体积和加载速度发愁吗？体验一下我们强大的**无损压缩服务**，它能在几乎不牺牲任何肉眼可感知的画质的前提下，将图片体积压缩到极致。


        ## 功能概述

        你只需要上传一张常见的图片（如 PNG, JPG），选择一个压缩等级，就能获得一个体积小到惊人的压缩文件。这对于需要大量展示高清图片的网站、App 或小程序来说，是优化用户体验、节省带宽和存储成本的利器。


        ## 使用须知

        > [!TIP]

        > 为了给您最好的压缩效果，我们的算法需要进行复杂计算，处理时间可能会稍长一些，请耐心等待。


        > [!WARNING]

        > **服务排队提醒**

        > 这是一个计算密集型服务。在高并发时，您的请求可能会被排队等待处理。如果您需要将其集成到对延迟敏感的生产服务中，请注意这一点。


        ### 请求与响应格式

        - 请求必须使用 `multipart/form-data` 格式上传文件。

        - 成功响应将直接返回压缩后的文件二进制流 (`image/*`)，并附带 `Content-Disposition` 头，建议客户端根据此头信息保存文件。


        ## 参数详解

        ### `level` (压缩等级)

        这是一个从 `1` 到 `5` 的整数，它决定了压缩的强度和策略，数字越小，压缩率越高。所有等级都经过精心调校，以在最大化压缩率的同时保证出色的视觉质量。

        - `1`: **极限压缩** (推荐，体积最小，画质优异)

        - `2`: **高效压缩**

        - `3`: **智能均衡** (默认选项)

        - `4`: **画质优先**

        - `5`: **专业保真** (压缩率稍低，保留最多图像信息)


        ## 错误处理指南

        - **400 Bad Request**: 通常因为没有上传文件，或者 `level` 参数不在 1-5 的范围内。

        - **500 Internal Server Error**: 如果在压缩过程中服务器发生内部错误，会返回此状态码。
      operationId: post-image-compress
      parameters:
        - name: level
          in: query
          required: false
          description: 压缩强度 (1-5)，默认为 3。数字越小，压缩率越高。
          schema:
            type: integer
            default: 3
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
            example: 3
          x-tooltip: |-
            - `1`: **极限压缩** (推荐)
            - `2`: **高效压缩**
            - `3`: **智能均衡** (默认)
            - `4`: **画质优先**
            - `5`: **专业保真**
        - name: format
          in: query
          required: false
          description: 输出图片格式，可以是 'png' 或 'jpeg'。
          schema:
            type: string
            default: png
            enum:
              - png
              - jpeg
            example: png
          x-tooltip: 默认为 'png'。
      responses:
        "200":
          description: 压缩成功响应。响应是压缩后的图片二进制数据。`Content-Type` 依据选择的目标格式，默认为 image/png。
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="compressed.png"
              description: 提示客户端文件下载为压缩后的文件。建议扩展名与输出格式一致。
          content:
            image/*:
              schema:
                type: string
                format: binary
        "400":
          description: 请求无效。可能是未上传文件、文件格式不受支持或参数错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 机器可读的错误代码。
                    example: INVALID_ARGUMENT
                  message:
                    type: string
                    description: 人类可读的错误描述信息。
                    example: Level must be between 1 and 5.
        "500":
          description: 服务器内部错误。压缩过程中发生错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 机器可读的错误代码。
                    example: COMPRESSION_FAILED
                  message:
                    type: string
                    description: 人类可读的错误描述信息。
                    example: An internal error occurred during image compression.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 支持PNG, JPG, JPEG等常见图片格式。文件大小不超过15MB。
                  x-accept: .png,.jpg,.jpeg
              required:
                - file
      x-search-words:
        - 图片压缩
        - 无损压缩
        - 图片优化
        - 减小体积
        - image compression
        - lossless
        - optimize
        - png
        - jpg
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /avatar/gravatar:
    get:
      tags:
        - Image
      summary: 获取Gravatar头像
      description: 提供一个超高速、高可用的Gravatar头像代理服务。内置了强大的ETag条件缓存，确保用户在更新Gravatar头像后能几乎立刻看到变化，同时最大化地利用缓存。
      operationId: get-avatar-gravatar
      parameters:
        - name: email
          in: query
          required: false
          description: 用户的 Email 地址。如果未提供 `hash` 参数，则此参数为必需。
          schema:
            example: shuakami@sdjz.wiki
            type: string
        - name: hash
          in: query
          required: false
          description: 用户 Email 地址的小写 MD5 哈希值。如果提供此参数，将忽略 `email` 参数。
          schema:
            type: string
        - name: s
          in: query
          required: false
          description: 头像的尺寸，单位为像素。有效范围是 1 到 2048。
          schema:
            type: integer
            default: 80
        - name: d
          in: query
          required: false
          description: 当用户没有自己的 Gravatar 头像时，显示的默认头像类型。可选值包括 `mp`, `identicon`, `monsterid`, `wavatar`, `retro`, `robohash`, `blank`, `404`。
          schema:
            type: string
            default: mp
        - name: r
          in: query
          required: false
          description: 头像分级。可选值：`g`, `pg`, `r`, `x`。
          schema:
            type: string
            default: g
      responses:
        "200":
          description: 成功响应，返回图片二进制数据。
          headers:
            Content-Type:
              schema:
                type: string
                example: image/png
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600
          content:
            image/*:
              schema:
                type: string
                format: binary
        "400":
          description: 当请求中既没有提供 `email` 也没有提供 `hash` 参数时。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_PARAMETER
                  message:
                    type: string
                    example: 请求失败，必须提供 'email' 或 'hash' 参数。
        "404":
          description: 当 `d=404` 且请求的 email 或 hash 没有对应的 Gravatar 头像时。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: AVATAR_NOT_FOUND
                  message:
                    type: string
                    example: 指定的 Gravatar 头像不存在
      x-search-words:
        - gravatar
        - avatar
        - 头像
        - email
        - md5
        - 头像代理
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /image/nsfw:
    post:
      tags:
        - Image
      summary: 图片敏感检测
      description: |-
        这是一个图片内容审核接口，自动识别图片中的违规内容并返回处理建议。

        > [!VIP]
        > 此接口限时免费开放，无需企业认证即可使用。

        ## 功能概述
        上传图片文件或提供图片URL，接口会自动分析图片内容，返回是否违规、风险等级和处理建议。适合对接到用户上传流程中，实现自动化内容审核。

        ## 返回字段说明
        - **is_nsfw**: 是否判定为违规内容，`true` 表示违规，`false` 表示正常
        - **nsfw_score**: 违规内容置信度，0-1 之间，越高表示越可能违规
        - **normal_score**: 正常内容置信度，0-1 之间，与 nsfw_score 互补
        - **suggestion**: 处理建议
          - `pass`: 内容正常，可以直接放行
          - `review`: 存在风险，建议转人工复核
          - `block`: 高风险内容，建议直接拦截
        - **risk_level**: 风险等级
          - `low`: 低风险
          - `medium`: 中风险
          - `high`: 高风险
        - **label**: 内容标签，`nsfw` 或 `normal`
        - **confidence**: 模型对当前判断的整体置信度
        - **inference_time_ms**: 模型推理耗时，单位毫秒
      operationId: post-image-nsfw
      parameters: []
      responses:
        "200":
          description: 检测成功！返回图片的 NSFW 分析结果。
          content:
            application/json:
              schema:
                type: object
                properties:
                  nsfw_score:
                    type: number
                    description: NSFW 内容的置信度分数，范围 0-1，越高表示越可能是敏感内容。
                    example: 0.05
                  normal_score:
                    type: number
                    description: 正常内容的置信度分数，范围 0-1。
                    example: 0.95
                  is_nsfw:
                    type: boolean
                    description: 是否判定为 NSFW 内容。
                    example: false
                  label:
                    type: string
                    description: 内容标签，'nsfw' 或 'normal'。
                    example: normal
                  suggestion:
                    type: string
                    description: 处理建议：'pass'（通过）、'review'（人工复核）、'block'（拦截）。
                    example: pass
                  risk_level:
                    type: string
                    description: 风险等级：'low'、'medium'、'high'。
                    example: low
                  confidence:
                    type: number
                    description: 模型对当前判断的置信度。
                    example: 0.95
                  inference_time_ms:
                    type: number
                    description: 模型推理耗时，单位毫秒。
                    example: 156
        "400":
          description: 请求参数错误。可能是未提供图片、文件格式不支持或文件过大。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  message:
                    type: string
                    example: 必须提供图片文件或图片URL
        "413":
          description: 文件过大。上传的图片超过了 20MB 的限制。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: FILE_TOO_LARGE
                  message:
                    type: string
                    example: 文件大小超过限制（最大20MB）
        "500":
          description: 服务器内部错误。在处理图片或进行 NSFW 检测时发生错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  message:
                    type: string
                    example: NSFW检测服务暂时不可用
      requestBody:
        description: 包含图片来源的表单数据。必须提供 'file' 或 'url' 两者之一。
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 要检测的图片文件。支持 JPG、JPEG、PNG、GIF、WebP 格式，最大 20MB。
                  x-accept: .jpg,.jpeg,.png,.gif,.webp
                url:
                  type: string
                  format: uri
                  description: 图片的 URL 地址。如果同时提供 file 和 url，将优先使用 file。
                  example: https://example.com/image.jpg
      x-search-words:
        - 图片审核
        - 图片审核API
        - 免费图片审核
        - 图片敏感
        - 敏感图片
        - 敏感图片检测
        - 内容审核
        - 内容安全
        - 图片检测
        - 违规检测
        - UGC审核
        - 图片过滤
        - 图片安全
        - 自动审核
        - 内容过滤
        - 图片合规
        - 图片风控
        - 在线审核
      x-seo-optimized-text: 免费图片审核、敏感检测API接口，自动检测用户上传图片中的违规内容。支持上传文件或URL，秒级返回审核结果、风险等级和处理建议。适用于社交平台、电商、论坛等UGC场景的内容安全审核。
      x-seo-keywords:
        - 免费图片审核API
        - 图片审核接口
        - 图片内容检测
        - 图片敏感检测
        - 敏感图片识别
        - UGC图片审核
        - 图片违规检测
        - 内容安全API
        - 图片过滤接口
        - 在线图片审核
      x-seo-title: 免费图片审核API接口 - 敏感图片检测/违规内容识别
      x-seo-usage-scenarios: 社交App用户头像审核、电商平台商品图检测、论坛UGC图片过滤、在线教育内容安全、直播平台截图审核、小程序图片检测、企业内容合规
      x-seo-related-apis:
        - 图片处理
        - 图片压缩
        - 图片上传
        - 内容安全
      x-faq:
        - question: 准确率怎么样？
          answer: 基于深度学习模型，大部分场景准确率90%+。建议 suggestion 返回 review 时转人工复核。
        - question: 支持什么格式？
          answer: 支持 JPG、PNG、GIF、WebP 格式，文件最大 20MB。
        - question: 怎么接入？
          answer: 上传图片或传 URL，根据返回的 suggestion 字段处理：pass 放行，review 人工看，block 拦截。
      x-jsonld:
        "@context": https://schema.org
        "@type": TechnicalArticle
        headline: 免费图片审核API接口 - 自动检测违规内容
        description: 免费图片审核API接口，自动检测用户上传图片中的违规内容。支持上传文件或URL，秒级返回审核结果、风险等级和处理建议。
        author:
          "@type": Organization
          name: UAPI
          url: https://uapis.cn
        publisher:
          "@type": Organization
          name: UAPI
          url: https://uapis.cn
        datePublished: 2024-01-01
        dateModified: 2026-02-03
        mainEntity:
          "@type": SoftwareApplication
          name: 免费图片审核API
          applicationCategory: WebAPI
          operatingSystem: All
          url: https://uapis.cn/api/v1/image/nsfw
          offers:
            "@type": Offer
            price: "0"
            priceCurrency: CNY
        about:
          - "@type": Thing
            name: API端点
            description: POST https://uapis.cn/api/v1/image/nsfw
          - "@type": Thing
            name: 使用方式
            description: 上传图片文件或传图片URL
          - "@type": Thing
            name: 支持格式
            description: JPG、PNG、GIF、WebP，最大20MB
          - "@type": Thing
            name: 返回结果
            description: 是否涉黄、风险等级、处理建议
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /misc/hotboard:
    get:
      tags:
        - Misc
      summary: 查询热榜
      description: |
        想快速跟上网络热点？这个接口让你一网打尽各大主流平台的实时热榜/热搜！

        ## 功能概述
        你只需要指定一个平台类型，就能获取到该平台当前的热榜数据列表。每个热榜条目都包含标题、热度值和原始链接。非常适合用于制作信息聚合类应用或看板。

        ## 三种使用模式

        ### 默认模式
        只传 `type` 参数，返回该平台当前的实时热榜。

        ### 时光机模式
        传 `type` + `time` 参数，返回最接近指定时间的热榜快照。如果不可用或无数据，会返回空。

        ### 搜索模式
        传 `type` + `keyword` + `time_start` + `time_end` 参数，在指定时间范围内搜索包含关键词的热榜条目。可选传 `limit` 限制返回数量。

        ### 数据源列表
        传 `sources=true`，返回所有支持历史数据的平台列表。

        ## 可选值
        `type` 参数接受多种不同的值，每种值对应一个不同的热榜来源。以下是目前支持的所有值：

        | 分类       | 支持的 type 值 |
        |------------|-----------------------------------------------------------------------------------------------------------------------------------|
        | 视频/社区  | bilibili（哔哩哔哩弹幕网）, acfun（A站弹幕视频网站）, weibo（新浪微博热搜）, zhihu（知乎热榜）, zhihu-daily（知乎日报热榜）, douyin（抖音热榜）, kuaishou（快手热榜）, douban-movie（豆瓣电影榜单）, douban-group（豆瓣小组话题）, tieba（百度贴吧热帖）, hupu（虎扑热帖）, ngabbs（NGA游戏论坛热帖）, v2ex（V2EX技术社区热帖）, 52pojie（吾爱破解热帖）, hostloc（全球主机交流论坛）, coolapk（酷安热榜） |
        | 新闻/资讯  | baidu（百度热搜）, thepaper（澎湃新闻热榜）, toutiao（今日头条热榜）, qq-news（腾讯新闻热榜）, sina（新浪热搜）, sina-news（新浪新闻热榜）, netease-news（网易新闻热榜）, huxiu（虎嗅网热榜）, ifanr（爱范儿热榜） |
        | 技术/IT    | sspai（少数派热榜）, ithome（IT之家热榜）, ithome-xijiayi（IT之家·喜加一栏目）, juejin（掘金社区热榜）, jianshu（简书热榜）, guokr（果壳热榜）, 36kr（36氪热榜）, 51cto（51CTO热榜）, csdn（CSDN博客热榜）, nodeseek（NodeSeek 技术社区）, hellogithub（HelloGitHub 项目推荐） |
        | 游戏       | lol（英雄联盟热帖）, genshin（原神热榜）, honkai（崩坏3热榜）, starrail（星穹铁道热榜） |
        | 音乐       | netease-music（网易云音乐热歌榜）, qq-music（QQ音乐热歌榜） |
        | 其他       | weread（微信读书热门书籍）, weatheralarm（天气预警信息）, earthquake（地震速报）, history（历史上的今天） |
      operationId: get-misc-hotboard
      parameters:
        - name: type
          in: query
          required: true
          description: 你想要查询的热榜平台。支持多种主流平台类型，详见下方[可选值](#可选值)表格。
          schema:
            type: string
            enum:
              - bilibili
              - acfun
              - weibo
              - zhihu
              - zhihu-daily
              - douyin
              - kuaishou
              - douban-movie
              - douban-group
              - tieba
              - hupu
              - ngabbs
              - v2ex
              - 52pojie
              - hostloc
              - coolapk
              - baidu
              - thepaper
              - toutiao
              - qq-news
              - sina
              - sina-news
              - netease-news
              - huxiu
              - ifanr
              - sspai
              - ithome
              - ithome-xijiayi
              - juejin
              - jianshu
              - guokr
              - 36kr
              - 51cto
              - csdn
              - nodeseek
              - hellogithub
              - lol
              - genshin
              - honkai
              - starrail
              - netease-music
              - qq-music
              - weread
              - weatheralarm
              - earthquake
              - history
            x-enumIconPattern: /icons/hotboard/{value}.png
            example: weibo
            x-enumLabels:
              bilibili: 哔哩哔哩
              acfun: A站
              weibo: 微博热搜
              zhihu: 知乎热榜
              zhihu-daily: 知乎日报
              douyin: 抖音
              kuaishou: 快手
              douban-movie: 豆瓣电影
              douban-group: 豆瓣小组
              tieba: 百度贴吧
              hupu: 虎扑
              ngabbs: NGA论坛
              v2ex: V2EX
              52pojie: 吾爱破解
              hostloc: 全球主机交流
              coolapk: 酷安
              baidu: 百度热搜
              thepaper: 澎湃新闻
              toutiao: 今日头条
              qq-news: 腾讯新闻
              sina: 新浪热搜
              sina-news: 新浪新闻
              netease-news: 网易新闻
              huxiu: 虎嗅
              ifanr: 爱范儿
              sspai: 少数派
              ithome: IT之家
              ithome-xijiayi: IT之家喜加一
              juejin: 掘金
              jianshu: 简书
              guokr: 果壳
              36kr: 36氪
              51cto: 51CTO
              csdn: CSDN
              nodeseek: NodeSeek
              hellogithub: HelloGitHub
              lol: 英雄联盟
              genshin: 原神
              honkai: 崩坏3
              starrail: 星穹铁道
              netease-music: 网易云音乐热歌榜
              qq-music: QQ音乐热歌榜
              weread: 微信读书
              weatheralarm: 天气预警
              earthquake: 地震速报
              history: 历史上的今天
          x-tooltip: 例如，'weibo' 代表微博热搜。
        - name: time
          in: query
          required: false
          description: 时光机模式：毫秒时间戳，返回最接近该时间的热榜快照。不传则返回当前实时热榜。
          schema:
            type: integer
            format: int64
            example: 1700000000000
          x-tooltip: 传入毫秒时间戳，如 1700000000000，返回该时间点附近的热榜快照。
        - name: keyword
          in: query
          required: false
          description: 搜索模式：搜索关键词，在历史热榜中搜索包含该关键词的条目。需配合 time_start 和 time_end 使用。
          schema:
            type: string
            example: AI
          x-tooltip: 搜索历史热榜中包含该关键词的条目。
        - name: time_start
          in: query
          required: false
          description: 搜索模式必填：搜索起始时间戳（毫秒）。
          schema:
            type: integer
            format: int64
            example: 1699900000000
          x-tooltip: 搜索的起始时间，毫秒时间戳。
        - name: time_end
          in: query
          required: false
          description: 搜索模式必填：搜索结束时间戳（毫秒）。
          schema:
            type: integer
            format: int64
            example: 1700100000000
          x-tooltip: 搜索的结束时间，毫秒时间戳。
        - name: limit
          in: query
          required: false
          description: 搜索模式下最大返回条数，默认 50，最大 200。
          schema:
            type: integer
            default: 50
            maximum: 200
            example: 50
          x-tooltip: 限制搜索结果数量，默认50条。
        - name: sources
          in: query
          required: false
          description: 设为 true 时列出所有可用的历史数据源，忽略其他参数。
          schema:
            type: boolean
            example: true
          x-tooltip: 传 true 可查看支持时光机/搜索的数据源列表。
      responses:
        "200":
          description: 查询成功！返回指定平台的热榜列表数据。不同模式返回格式不同：默认模式和时光机模式返回 list 数组；搜索模式返回 results 数组；数据源列表模式返回 sources 数组。
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    description: 热榜条目列表。
                    items:
                      type: object
                      properties:
                        extra:
                          type: object
                          description: 额外信息，不同平台该字段内容不同，例如微博热搜的标签（如'新'、'爆'）。
                          additionalProperties: true
                        hot_value:
                          type: string
                          example: "1234567"
                        index:
                          type: integer
                          example: 1
                        title:
                          type: string
                          example: 今天天气真好
                        url:
                          type: string
                          example: https://s.weibo.com/weibo?q=%23%E4%BB%8A%E5%A4%A9%E5%A4%A9%E6%B0%94%E7%9C%9F%E5%A5%BD%23
                        cover:
                          type: string
                          description: 封面图 URL，音乐类热榜返回专辑封面，其他平台无此字段。
                          example: https://p1.music.126.net/xxx/109951170483249998.jpg
                  type:
                    type: string
                    example: weibo
                  update_time:
                    type: string
                    example: 2023-10-27 12:00:00
                  snapshot_time:
                    type: integer
                    description: 时光机模式返回的快照实际时间戳（毫秒）。
                    example: 1700000000000
                  keyword:
                    type: string
                    description: 搜索模式返回的搜索关键词。
                    example: AI
                  count:
                    type: integer
                    description: 搜索模式返回的结果数量。
                    example: 25
                  results:
                    type: array
                    description: 搜索模式返回的结果数组。
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: AI技术突破
                        hot_value:
                          type: string
                          example: "999999"
                        url:
                          type: string
                          example: https://example.com
                  sources:
                    type: array
                    description: 数据源列表模式返回的可用历史数据源数组。
                    items:
                      type: string
                      example: weibo
        "400":
          description: 请求参数错误。你提供的 `type` 参数不是我们支持的平台类型，请检查拼写。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Invalid hotboard type specified.
        "500":
          description: 获取热榜失败。服务器在处理数据时发生内部错误。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to process hotboard data.
        "502":
          description: 上游服务错误。我们从目标平台（如微博）获取数据时失败，可能是对方接口暂时不可用或有反爬策略。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: UPSTREAM_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to fetch hotboard from upstream source.
      x-search-words:
        - 热榜
        - 热搜
        - 排行榜
        - 微博
        - 知乎
        - bilibili
        - 抖音
        - 头条
        - 新闻
        - trending
        - hot
        - v2ex
        - 虎扑
        - 时光机
        - 历史热榜
        - 搜索热榜
        - 快照
      x-seo-optimized-text: 免费全网热榜聚合API接口，一键获取微博、知乎、B站、抖音、头条等40+平台实时热搜榜单。无需注册，即调即用，支持热度值、排名、原始链接等完整数据。适用于热点监控、舆情分析、内容聚合、信息看板等场景。新增时光机模式，可查看历史任意时间点的热榜快照；搜索模式支持在历史热榜中按关键词检索。
      x-seo-keywords:
        - 免费热榜API
        - 微博热搜API
        - 知乎热榜接口
        - B站热门API
        - 抖音热榜查询
        - 全网热搜聚合
        - 热点监控API
        - 舆情分析接口
        - 实时热榜
        - 热搜排行榜API
        - 今日头条热榜
        - 热门话题API
        - 热榜时光机
        - 历史热搜查询
        - 热榜搜索API
      x-seo-title: 【免费】全网热榜聚合API - 微博/知乎/B站/抖音40+平台热搜
      x-seo-usage-scenarios: 适用于热点监控系统、舆情分析平台、内容聚合应用、信息看板、新闻客户端、社交媒体分析、营销热点追踪、数据可视化大屏等场景
      x-seo-related-apis:
        - 天气查询
        - 快递查询
        - 世界时间
        - 新闻资讯
      x-faq:
        - question: 支持哪些平台的热榜？
          answer: 支持40+平台，包括微博、知乎、B站、抖音、快手、今日头条、百度、豆瓣、虎扑、V2EX、掘金、CSDN等主流社交媒体和技术社区。
        - question: 热榜数据多久更新一次？
          answer: 热榜数据实时获取，每次调用都会返回最新的热搜榜单。不同平台的更新频率略有不同，通常在几分钟内同步。
        - question: 返回的数据包含哪些信息？
          answer: 返回数据包括：热搜标题、热度值、排名位置、原始链接、更新时间，部分平台还包含标签（如'新'、'爆'、'沸'）等额外信息。
        - question: 这个API是免费的吗？
          answer: 是的，这个API完全免费，无需注册或API密钥，可以直接调用。
        - question: 什么是时光机模式？
          answer: 时光机模式允许你查看历史某个时间点的热榜快照。传入 time 参数（毫秒时间戳），API 会返回最接近该时间的热榜数据。如果没有历史数据，会自动返回当前热榜。
        - question: 如何搜索历史热榜？
          answer: 使用搜索模式：传入 keyword（关键词）、time_start（起始时间戳）和 time_end（结束时间戳），API 会在指定时间范围内搜索包含关键词的热榜条目。可通过 limit 参数限制返回数量，默认50条，最大200条。
        - question: 哪些平台支持时光机和搜索功能？
          answer: 可以通过 sources=true 参数查询支持历史数据的平台列表。并非所有平台都有历史数据，具体取决于数据采集的时间范围。
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /misc/phoneinfo:
    get:
      tags:
        - Misc
      summary: 查询手机归属地
      description: |-
        想知道一个手机号码来自哪里？是移动、联通还是电信？这个接口可以告诉你答案。

        ## 功能概述
        提供一个国内的手机号码，我们会查询并返回它的归属地（省份和城市）以及所属的运营商信息。
      operationId: get-misc-phoneinfo
      parameters:
        - name: phone
          in: query
          required: true
          description: 需要查询的11位中国大陆手机号码。
          schema:
            type: string
            example: "13800138000"
          x-tooltip: 请输入11位手机号。
      responses:
        "200":
          description: 查询成功！返回号码的归属地和运营商信息。
          content:
            application/json:
              schema:
                type: object
                properties:
                  city:
                    type: string
                    example: 深圳
                  province:
                    type: string
                    example: 广东
                  sp:
                    type: string
                    description: 运营商 (Service Provider) 名称。
                    example: 联通
        "400":
          description: 请求参数错误。请检查你是否提供了 `phone` 参数，以及它是否是有效的11位手机号码。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Missing or invalid 'phone' parameter.
        "500":
          description: 查询失败。我们的号码归属地数据库可能暂时无法访问，请稍后重试。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                  details:
                    type: object
                  message:
                    type: string
                    example: Failed to query phone information.
      x-search-words:
        - 手机号
        - 归属地
        - 运营商
        - 查号码
        - phone
        - location
        - carrier
        - 移动
        - 联通
        - 电信
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /misc/randomnumber:
    get:
      tags:
        - Misc
      summary: 随机数生成
      description: >-
        需要一个简单的随机数，还是需要一串不重复的、带小数的随机数？这个接口都能满足你！


        ## 功能概述

        这是一个强大的随机数生成器。你可以指定生成的范围（最大/最小值）、数量、是否允许重复、以及是否生成小数（并指定小数位数）。


        ## 流程图

        ```mermaid

        graph TD


            A[开始] --> B{参数校验};
            B --> |通过| C{是否允许小数?};
            C --> |是| D[生成随机小数];
            C --> |否| E[生成随机整数];
            D --> F{是否允许重复?};
            E --> F;
            F --> |是| G[直接生成指定数量];
            F --> |否| H[生成不重复的数字];
            G --> I[返回结果];
            H --> I;
            B --> |失败| J[返回 400 错误];
        ```

        ## 使用须知

        > [!WARNING]

        > **不重复生成的逻辑限制**

        > 当设置 `allow_repeat=false` 时，请确保取值范围 `(max - min + 1)` 大于或等于你请求的数量 `count`。否则，系统将无法生成足够的不重复数字，请求会失败并返回 400 错误。
      operationId: get-misc-randomnumber
      parameters:
        - name: min
          in: query
          required: false
          description: 生成随机数的最小值（包含）。
          schema:
            type: integer
            default: 1
            example: 10
          x-tooltip: 默认为 1。
        - name: max
          in: query
          required: false
          description: 生成随机数的最大值（包含）。
          schema:
            type: integer
            default: 100
            example: 50
          x-tooltip: 默认为 100。
        - name: count
          in: query
          required: false
          description: 需要生成的随机数的数量。
          schema:
            type: integer
            default: 1
            example: 5
          x-tooltip: 默认为 1。
        - name: allow_repeat
          in: query
          required: false
          description: 是否允许生成的多个数字中出现重复值。
          schema:
            type: boolean
            default: false
            example: true
          x-tooltip: 默认为 false (不重复)。
        - name: allow_decimal
          in: query
          required: false
          description: 是否生成小（浮点）数。如果为 false，则只生成整数。
          schema:
            type: boolean
            default: false
            example: true
          x-tooltip: 默认为 false (整数)。
        - name: decimal_places
          in: query
          required: false
          description: 如果 `allow_decimal=true`，这里可以指定小数的位数。
          schema:
            type: integer
            default: 2
            example: 2
          x-tooltip: 仅在 allow_decimal=true 时生效。
      responses:
        "200":
          description: 生成成功！返回一个包含随机数的数组。
          content:
            application/json:
              schema:
                type: object
                properties:
                  numbers:
                    type: array
                    description: 生成的随机数列表。
                    items:
                      type: number
                    example:
                      - 42
                      - 8
                      - 77
        "400":
          description: 请求参数无效。例如，`min` 大于 `max`，或者在不允许重复的情况下，请求的数量大于可能生成的数字总数。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Invalid parameters. 'min' cannot be greater than 'max'.
      x-search-words:
        - 随机数
        - 生成
        - 整数
        - 小数
        - random
        - number
        - generator
        - int
        - float
        - 抽奖
        - 摇号
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /misc/timestamp:
    get:
      tags:
        - Misc
      summary: 转换时间戳 (旧版，推荐使用/convert/unixtime)
      description: |-
        这是一个用于将Unix时间戳转换为人类可读日期时间的旧版接口。

        ## 功能概述
        输入一个秒级或毫秒级的时间戳，返回其对应的本地时间和UTC时间。

        > [!WARNING]
        > **接口已过时**：这个接口已被新的 `/convert/unixtime` 取代。新接口功能更强大，支持双向转换。我们建议你迁移到新接口。

        [➡️ 前往新版接口文档](/docs/api-reference/get-convert-unixtime)
      operationId: get-misc-timestamp
      parameters:
        - name: ts
          in: query
          required: true
          description: 需要转换的Unix时间戳，支持10位（秒）或13位（毫秒）。
          schema:
            type: string
            example: "1672531200"
          x-tooltip: "例如: 1672531200"
      responses:
        "200":
          description: 转换成功！
          content:
            application/json:
              schema:
                type: object
                properties:
                  datetime_local:
                    type: string
                    example: 2023-01-01 08:00:00
                  datetime_utc:
                    type: string
                    example: 2023-01-01 00:00:00
                  input:
                    type: string
                    example: "1672531200"
                  type:
                    type: string
                    example: 秒
                  unix_timestamp:
                    type: integer
                    example: 1672531200
        "400":
          description: 无效的时间戳参数。请检查 `ts` 参数是否为纯数字字符串。
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_ARGUMENT
                  details:
                    type: object
                  message:
                    type: string
                    example: Invalid timestamp parameter.
      x-search-words:
        - 时间戳
        - 日期
        - 转换
        - timestamp
        - unixtime
        - datetime
        - date
        - 旧版
        - legacy
      x-speakeasy-mcp:
        scopes:
          - read
        readOnlyHint: true
        openWorldHint: true
  /misc/weather:
    get:
      tags:
        - Misc
      summary: 查询天气
      description: |-
        出门前，查一下天气总是个好习惯。这个接口为你提供精准、实时的天气数据，支持国内和国际城市。

        ## 功能概述
        这个接口支持三种查询方式：
        - 可以传 `adcode`，按行政区编码查询（优先级最高）
        - 可以传 `city`，按城市名称查询，支持中文（`北京`）和英文（`Tokyo`）
        - 两个都不传时，按客户端 IP 自动定位查询

        支持 `lang` 参数，可选 `zh`（默认）和 `en`，城市名翻译覆盖 7000+ 城市。

        ## 可选功能模块
        - `extended=true`：扩展气象字段（体感温度、能见度、气压、紫外线、空气质量及污染物分项数据）
        - `forecast=true`：多天预报（最多7天，含日出日落、风速等详细数据）
        - `hourly=true`：逐小时预报（24小时）
        - `minutely=true`：分钟级降水预报（仅国内城市）
        - `indices=true`：18项生活指数（穿衣、紫外线、洗车、运动、花粉等）

        ## 天气字段说明
        `weather` 是天气现象文本，不是固定枚举。

        常见值包括：晴、多云、阴、小雨、中雨、大雨、雷阵雨、小雪、中雪、大雪、雨夹雪、雾、霾、沙尘。

        如果你的业务需要稳定分类，建议结合 `weather_code` 做自己的映射归类。
      operationId: get-misc-weather
      parameters:
        - name: city
          in: query
          required: false
[...]
